aws_region = "eu-west-3"
namespace = "dan-ptfe"
route53_zone = "roooms.uk"
aws_instance_ami = "ami-2a7d75c0"
aws_instance_type = "m5.large"
ssh_key_name = "dbrown-eu-west-1"
owner = "dbrown"
ttl = "-1"
