aws_region = "eu-west-3"
namespace = "ptfe"
route53_zone = "example.com"
aws_instance_ami = "ami-2a7d75c0"
aws_instance_type = "m5.large"
ssh_key_name = "dbrown-eu-west-1"
ssh_key_path = "/path/to/ssh.pem"
license_path = "/path/to/license.rli"
ssl_cert_path = "/path/to/fullchain.pem"
ssl_key_path = "/path/to/private.key"
owner = "dbrown"
ttl = "-1"
