region = "europe-west1"
project = "ptfe-reference"
namespace = "dan-ptfe"
subnetwork_ip_cidr_range = "10.1.0.0/24"
gcp_machine_image = "debian-cloud/debian-9-stretch-v20180814"
gcp_machine_type = "n1-standard-1"
ssh_user = "dan"
ssh_public_key_file = "/Users/dan/.ssh/roooms_rsa.pub"
active_ptfe_instance = "ptfe1"
active_alias_ip = "10.1.0.5"
standby_alias_ip = "10.1.0.6"
